html
  head
    title Gaming Club - Home
    link(rel="stylesheet", href="/css/home.css")
    link(href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet")
  body
    main
        nav 
          ul(class="navbar")
            li 
              a(class="nav" href="/") Home
            li 
              a(class="nav" href="/add-review") Add a Review

        div(class="title")
          h1 Gaming Club
        div(class="container")
          center
            div(class="reviews")
              div(class="get-reviews")
